name: Deploy ADF from main

on:
  push:
    branches: [ main ]
    paths:
      - 'BmwSalesDataFactory/**'   # trigger only when ADF Publish updates these files

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy ARM template to target Data Factory
        uses: azure/arm-deploy@v2
        with:
          scope: resourcegroup
          resourceGroupName: <TARGET-RG-NAME>
          template: BmwSalesDataFactory/ARMTemplateForFactory.json
          parameters: >
            BmwSalesDataFactory/ARMTemplateParametersForFactory.json
            factoryName=<TARGET-ADF-NAME>
            location=<TARGET-AZURE-REGION>
          deploymentName: adf-deploy-${{ github.run_number }}
